
fastapi
uvicorn
aiofiles
python-dotenv
python-multipart
qdrant-client
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
openai
pymupdf
pydantic
requests
langchain-classic
pyyaml


# Auth dependencies
python-jose[cryptography]
passlib[bcrypt]

